@model List<Tarea3_CondoriVilcapuma.Models.ClsArchivo>
@{
    Layout = null;
    int i = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <h2>Carga Académica</h2>
    <p>@ViewBag.Error</p>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="File" name="file" id="file" value="Choose File" />
            <button type="submit">Upload</button>
        }
    </div>
    <ul>
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Tamaño</th>
                <th>Acciones</th>
            </tr>
            @foreach (var archivo in Model)
            {
                var link = @Url.Content("~/Content/Files/") + archivo.nombreFile.Replace(" ", "%20");

                <tr>

                    <td>@(i++)</td>
                    <td><a href="@link">@archivo.nombreFile</a></td>
                    <td>@archivo.tipo</td>
                    <td>@archivo.tamano</td>
                    <td>
                        @Html.ActionLink("Elimnar", "Eliminar", new { file = archivo.link })
                        @using (Html.BeginForm("Editar", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="File" name="file" id="file" value="Choose File" />
                            <input id="totalLink" name="totalLink" type="hidden" value=@archivo.link />
                            <button type="submit">Upload</button>
                        }
                    </td>
                </tr>
            }

        </table>

    </ul>
    <div>Seleccione los nombres según desea Generar</div>
    

    <div>Total de Registros Generados: @ViewBag.totalRegistros</div>
    <div>Total de Cursos Generados: @ViewBag.totalCursos</div>
    <div>Total de Docentes Generados: @ViewBag.totalDocentes</div>
</body>
</html>
